img {
  width: 200px;
  Height: 200px;
}

body {
  background-color: LemonChiffon;
}
  
p {
  colr: blue;
  text-color: blue;
  font-sixe:80px;
}

.banner {
  font-size: 500 px;
}

.nlp {
  border-style: 1px black dashed;
}
